@model List<Client>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var client in Model)
{
    <p>@client.FirstName @client.MiddleName @client.LastName</p>
    <a class="badge-info" asp-controller="Home" asp-action="ViewClient" asp-route-id=@client.Id>View</a>
    <a class="btn-dark" asp-controller="Home" asp-action="RemoveClient" asp-route-id="@client.Id">Remove</a>
    <hr />
}
