@model BonusSystem.Models.ViewModels.ViewSearchClient<string>

<h2>Поиск по номеру телефона</h2>

<form asp-controller="Home" asp-action="SearchByPhoneNumber">
    <div class="form-group">
        <label asp-for="Parameter" class="control-label">Phone number</label>
        <input type="text" asp-for="Parameter" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-default" />
    </div>
</form>
