@model BonusSystem.Models.ViewModels.ViewSearchClient

<form asp-controller="Home" asp-action="SearchByPhoneNumber">
    <div style="display: flex; align-items: flex-end;">
        <div class="form-group">
            <label asp-for="@Model.PhoneNumber" class="control-label">Phone number</label>
            <input type="text" asp-for="@Model.PhoneNumber" class="form-control" />
        </div>
        <div style="margin-left: 10px" class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
</form>

<form asp-controller="Home" asp-action="SearchByNumberCard">
    <div style="display: flex; align-items: flex-end;">
        <div class="form-group">
            <label asp-for="@Model.NumberCard" class="control-label">Number card</label>
            <input type="number" asp-for="@Model.NumberCard" class="form-control" />
        </div>
        <div style="margin-left: 10px" class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
</form>
